body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.title{
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 38px;
    font-weight: bold;
    font-family: 'arial';
    padding: 5px;
}

.mainBody{
    /* Makes the two columns go beside eachother and not one below the other */
    display: flex;
    justify-content: space-evenly;
    /* Just changes the font of text in the columns */ 
    font-family: 'arial';
}

.right{
    width: 40%;
}

.left{
    width: 40%;
}

.nse{
    color: azure;
    margin-top: 10px;
    padding: 15px 35px 35px 35px;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.nseti{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.nsete{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.nsj{
    color: azure;
    margin-top: 10px;
    padding: 15px 35px 35px 35px;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.nsjti{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.nsjte{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.na{
    color: azure;
    margin-top: 10px;
    padding: 15px 35px 35px 35px;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.nati{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.nate{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.nn{
    color: azure;
    margin-top: 10px;
    padding: 15px 35px 35px 35px;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.nnti{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.nnte{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.MM{
    color: azure;
    margin-top: 10px;
    padding: 15px 35px 35px 35px;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.MMti{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.MMte{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.MMX{
    color: azure;
    margin-top: 10px;
    padding: 15px 35px 35px 35px;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.MMXti{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.MMXte{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.MMXX{
    color: azure;
    padding: 15px 35px 35px 35px;
    margin-top: 10px;
    margin-left: 6.62%;
    margin-right: 6.62%;
    border: 2px;
    border-color: white;
    border-style: solid;
    font-family: 'arial';
}

.MMXXti{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.MMXXte{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.sv{
    color: azure;
    padding: 15px 35px 35px 35px;
    padding-top: -10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 6.62%;
    margin-right: 6.62%;
    border: 2px;
    border-color: white;
    border-style: solid;
    font-family: 'arial';
}

.svti{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}

.svte{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}